html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  text-align: center;
}

.planets div {
  text-align: center;
}

.planets a {
  background-color: #713837;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  margin: 3em;
  padding: .5em .75em;
  text-decoration: none;
}

.planets a:hover {
  background-color: #f33;
}
