html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #79756f;
  border-top: solid;
  border-bottom: solid;
  border-color: #595652;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Bevan, serif;
  margin: 0;
}

header {
  margin: .3em;
  text-align: center;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: .6em 0;
}

a {
  background-color: #713837;
  border-radius: 4px;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: .6em;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #f33;
}
